{% extends "portfolio/layout.html" %}

{% block title %} About {% endblock %}

{% block about %}
<a href="{% url 'portfolio:about' %}" class="active">About</a>
{% endblock %}

{% block body %}

<section id="about">
    <div class="container">
        <img class="skeleton" src="https://imgx.app/dfjsmj" alt="Nqabenhle's Face Shot">
        <div class="view-hidden-middle">
            <div class="header">Nqabenhle L. Mlaba</div>
            <div class="content">
                <p>As a dedicated student from South Africa, I am pursuing a degree in Economics, while also expanding my knowledge in Computer Science. To improve my programming skills, I have been taking online courses and dedicating every spare moment to self-teaching. I started learning how to program with CS50's Introduction to Computer Science course in February 2022, and have since developed a strong foundation in computational thinking, abstraction, data structures, algorithms, web development, and software engineering.</p>
                <p>Over the past 6 months, I have focused on developing my programming skills by building web applications capable of handling large sets of data. My expertise lies in creating high-quality, responsive, and mobile-friendly websites using HTML, CSS (including SASS), JavaScript, and Bootstrap on the front end. On the back end, I utilize Python with the Django Framework to ensure the efficient and effective management of website functionality.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
