{% extends "portfolio/layout.html" %}

{% block title %} Blogs {% endblock %}

{% block body %}

<section id="blogs">
    <div class="container">
        <p class="header">Blogs</p>
        <div class="row">
            {% for blog in blogs %}
                <div class="col-sm-12 col-md-6 col-lg-4 view-hidden-middle">
                    <div class="card">
                        {% include "portfolio/subtemplates/blog.html" with picture=blog.picture_link name=blog.name about=blog.about blog=blog.blog_link %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}