{% extends "portfolio/layout.html" %}
{% load static %}

{% block title %} Hire Me {% endblock %}

{% block hire %}
<a href="{% url 'portfolio:hire' %}" class="active">Hire Me</a>
{% endblock %}

{% block script %} {% static 'portfolio/hire.js' %} {% endblock %}

{% block body %}

<section id="hire-page">
    <div class="container">
        <p class="header">Hire Me</p>
        <div class="row">
            <div class="col-sm-12-col-md-4 col-lg-4 view-hidden-left d-none d-lg-block">
                <img class="skeleton" src="https://scontent-jnb1-1.xx.fbcdn.net/v/t39.30808-6/314474925_107173715544309_5023647590573383180_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=0debeb&_nc_ohc=cP0jSai0XvkAX8_3eUW&_nc_ht=scontent-jnb1-1.xx&oh=00_AfCfeW_oZ_16A7DdPOaGcUTHeyM8C47Nfks8VsGt3nmZUA&oe=63724807" alt="Nqabenhle working" loading="lazy">
            </div>
            <div class="col-sm-12-col-md-8 col-lg-8">
                <div>
                    <form>
                        <div id="alert-placeholder"></div>
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="mb-3">
                                {{ field }}
                            </div>
                        {% endfor %}
                        <div class="button-container text-center" id="submit">
                            <span class="mas">Send</span>
                            <button type="button" name="Hover">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}