{% extends "portfolio/layout.html" %}
{% load static %}

{% block title %} Home {% endblock %}

{% block script %} {% static 'portfolio/home.js' %} {% endblock %}

{% block index %}
<a href="{% url 'portfolio:index' %}" class="active">Home</a>
{% endblock %}

{% block body %}

<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-sm-4 mb-3">
                <img class="skeleton" src="https://imgx.app/3i61m0" alt="Profile Image of Nqabenhle Mlaba (Author)">
            </div>
            <div class="col-sm-12 col-md-8 col-sm-8 align-middle">
                <div class="text-center">
                    Hi, my name is Nqabenhle Mlaba. I am <span id="article">an</span></p>
                    <div class="title" id="expertise">Author</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about">
    <div class="container view-hidden-middle">
        <div class="header">About Me</div>
        <div class="content">
            I am a hard-working and dedicated student from South Africa. I study Economics but I take Computer Science courses online and teach myself programming for every second I get. I started learning how to program by the end of February 2022. I began with the CS50's Introduction to Computer Science course. In the past few months, I have learned computational thinking, abstraction, data structures, algorithms, web development, and how to be a better programmer.
            I focus on both front-end and back-end development. I can create responsive, mobile-friendly, and high-quality websites using HTML, CSS (Sass), JavaScript, and Bootstrap on the front end. On the back end, I use Python with the Django framework.
            <br>
            <span class="learn-more"><a href="{% url 'portfolio:about' %}">Learn More</a></span>
        </div>
    </div>
</section>

<section id="projects">
    <div class="container">
        <div class="header"><p>My Projects</p></div>
        <div class="row">
            {% for project in projects %}
                {% if forloop.counter == 3 %}
                    <div class="col-sm-12 col-md-6 col-lg-4 view-hidden-left">
                        <div class="card no-margin">
                            {% include "portfolio/subtemplates/project.html" with embed=project.embed_link name=project.name about=project.about github_repo=project.github_repo %}
                        </div>
                    </div>
                {% elif forloop.counter == 4 %}
                    <div class="col-sm-12 col-md-6 col-lg-4 d-none d-md-block d-lg-none view-hidden-left">
                        <div class="card no-margin">
                            {% include "portfolio/subtemplates/project.html" with embed=project.embed_link name=project.name about=project.about github_repo=project.github_repo %}
                        </div>
                    </div>
                {% else %}
                    <div class="col-sm-12 col-md-6 col-lg-4 view-hidden-left">
                        <div class="card">
                            {% include "portfolio/subtemplates/project.html" with embed=project.embed_link name=project.name about=project.about github_repo=project.github_repo %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section id="skills">
    <div class="container">
        <div class="header"><p>My Skills</p></div>
        <div class="slider view-hidden-right">
            <div class="slide-track">
                {% for skill in skills %}
                    <div class="slide content">
                        {{ skill.name }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section id="blogs">
    <div class="container">
        <div class="header">
            <p>My Blogs</p>
        </div>
        <div class="try-flex">
            <div class="row">
                {% for blog in blogs %}
                    {% if forloop.counter == 3 %}
                        <div class="col-sm-12 col-md-6 col-lg-4 view-hidden-left">
                            <div class="card no-margin">
                                {% include "portfolio/subtemplates/blog.html" with picture=blog.picture_link name=blog.name about=blog.about blog=blog.blog_link %}
                            </div>
                        </div>
                    {% elif forloop.counter == 4 %}
                        <div class="col-sm-12 col-md-6 col-lg-4 d-none d-md-block d-lg-none view-hidden-left">
                            <div class="card no-margin">
                                {% include "portfolio/subtemplates/blog.html" with picture=blog.picture_link name=blog.name about=blog.about blog=blog.blog_link %}
                            </div>
                        </div>
                    {% else %}
                        <div class="col-sm-12 col-md-6 col-lg-4 view-hidden-left">
                            <div class="card">
                                {% include "portfolio/subtemplates/blog.html" with picture=blog.picture_link name=blog.name about=blog.about blog=blog.blog_link %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section id="certificates">
    <div class="container">
        <div class="header"><p>Certificates</p></div>
        <div class="row">
            {% for certificate in certificates %}
                {% if forloop.counter == 3 %}
                    <div class="col-sm-12 col-md-4 view-hidden-right">
                        <img src="{{ certificate.picture_link }}" alt="{{ certificate.name }}">
                    </div>
                {% else %}
                    <div class="certificate col-sm-12 col-md-4 view-hidden-right">
                        <img src="{{ certificate.picture_link }}" alt="{{ certificate.name }}">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section id="hire">
    <div class="container view-hidden-middle">
        <div class="button-container text-center">
            <span class="mas">Hire Me</span>
            <a href="{% url 'portfolio:hire' %}"><button type="button" name="Hover">Hire Me</button></a>
        </div>
    </div>
</section>

<section id="questions">
    <div class="container">
        <div class="header"><p>Ask Me A Question</p></div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-sm-6 view-hidden-left">
                <div class="mb-3">
                    <img src="https://imgx.app/0widoh" alt="Nqabenhle Mlaba Picture">
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-sm-6 view-hidden-right">
                <form>
                    {% csrf_token %}
                    <div class="mb-3">
                        <input class="form-control" id="name" placeholder="Name and Surname (Optional)">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" id="question" placeholder="Ask Away" rows="6" required></textarea>
                    </div>
                    <div class="text-start">
                        <div class="button-container">
                            <span class="mas">Submit</span>
                            <button id="question-submit-btn" type="button" name="Hover">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section id="book">
    <div class="container">
        <div class="header">
            <p>My Book</p>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-sm-4 view-hidden-left">
                <img src="{{ book.book_cover }}" alt="Book Cover">
            </div>
            <div class="col-sm-12 col-md-8 col-sm-8 view-hidden-right">
                <div class="content">
                    <div class="title">
                        <a href="{{ book.link }}" target="_blank">{{ book.title }}</a>
                    </div>
                    {{ book.about }}
                    <br><span class="learn-more"><a href="{{ book.link }}" target="_blank">Learn More</a></span>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}