{% extends "portfolio/layout.html" %}

{% block title %} Projects {% endblock %}

{% block projects %}
<a href="{% url 'portfolio:projects' %}" class="active">Projects</a>
{% endblock %}

{% block body %}
<section id="projects">
    <div class="container">
        <p><div class="header">Projects</div></p>
        <div class="row">
            {% for project in projects %}
                <div class="col-sm-12 col-md-6 col-lg-4 view-hidden-middle">
                    <div class="card">
                        <div class="show">
                            <iframe class="skeleton" width="100%" height="210px" src="https://www.youtube.com/embed/{{ project.embed_link }}" 
                                title="Project Video Presentation" frameborder="0" 
                                loading="lazy";
                                srcdoc="<style>
                                    *{
                                        padding: 0;
                                        margin: 0;
                                        overflow: hidden;
                                    }
                                        body, html {
                                        height: 100%;
                                    }
                                    img, svg {
                                        position: absolute;
                                        width: 100%;
                                        top: 0;
                                        bottom: 0;
                                        margin: auto;
                                    }
                                    svg {
                                        filter: drop-shadow(1px 1px 10px hsl(206.5, 70.7%, 8%));
                                        transition: all 250ms ease-in-out;
                                    }
                                        body:hover svg {
                                        filter: drop-shadow(1px 1px 10px hsl(206.5, 0%, 10%));
                                        transform: scale(1.2);
                                    }
                                    </style>
                                    <a href='https://www.youtube.com/embed/{{ project.embed_link }}?autoplay=1'>
                                        <img src='https://img.youtube.com/vi/{{project.embed_link }}/hqdefault.jpg'
                                        alt='Project Presentation'>
                                        <svg xmlns='http://www.w3.org/2000/svg' width='64' height='64'
                                        viewBox='0 0 24 24' fill='none' stroke='#ffffff' stroke-width='2'
                                        stroke-linecap='round' stroke-linejoin='round' class='feather
                                        feather-play-circle'><circle cx='12' cy='12' r='10'></circle><polygon
                                        points='10 8 16 12 10 16 10 8'></polygon></svg>
                                    </a>
                                    "
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                allowfullscreen>
                            </iframe>
                        </div>
                        <div class="info">
                            <div class="header text-start">
                                <p>{{ project.name }}</p>
                            </div>
                            <div class="content text-start about">{{ project.about }}</div>
                            <div class="content text-start languages">
                                <div class="stack-header">Languages used:</div>
                                {% for language, percentage in project.languages.items %}
                                    <div class="mb-3">
                                        <div class="mb-2">{{ language }}:</div> 
                                        <div class="stack" data-percentage="{{ percentage }}"></div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="text-end">
                                <span class="learn-more"><a href="{{ project.github_repo }}" target="_blank">Github Repo</a></span>
                            </div>
                        </div>                    
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<script>
    document.querySelectorAll(".stack").forEach(stack => {
        stack.style.width = `${stack.dataset.percentage}%`;
    });
</script>
{% endblock %}