#certificates-page {
  padding-bottom: calc(#{$padding} - 16px);
  
  .validate {
    margin-bottom: 16px;
    position: relative;
  
    .validation-wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
  
      &:hover {
        opacity: 1;
        cursor: pointer;
      }
  
      .btn {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
  
        &:hover {
          background-color: var(--tertiary-color);
        }
      }
    }
  
    img {
      transition: .5s ease;
      backface-visibility: hidden;
  
      &:hover {
        opacity: .3;
      }
    }
  }
}