@-o-keyframes toggle-ball-right {
  from {
    left: 10px; }
  to {
    left: 50px; } }
@-moz-keyframes toggle-ball-right {
  from {
    left: 10px; }
  to {
    left: 50px; } }
@-webkit-keyframes toggle-ball-right {
  from {
    left: 10px; }
  to {
    left: 50px; } }
@keyframes toggle-ball-right {
  from {
    left: 10px; }
  to {
    left: 50px; } }
@-o-keyframes toggle-ball-left {
  from {
    left: 50px; }
  to {
    left: 10px; } }
@-moz-keyframes toggle-ball-left {
  from {
    left: 50px; }
  to {
    left: 10px; } }
@-webkit-keyframes toggle-ball-left {
  from {
    left: 50px; }
  to {
    left: 10px; } }
@keyframes toggle-ball-left {
  from {
    left: 50px; }
  to {
    left: 10px; } }
@-o-keyframes menubar {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes menubar {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes menubar {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes menubar {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes skeleton-loading {
  0% {
    background-color: #a3b8c2; }
  100% {
    background-color: #f0f3f5; } }
/* Opera */
@-o-keyframes skeleton-loading {
  0% {
    background-color: #a3b8c2; }
  100% {
    background-color: #f0f3f5; } }
/* Firefox */
@-moz-keyframes skeleton-loading {
  0% {
    background-color: #a3b8c2; }
  100% {
    background-color: #f0f3f5; } }
/* Chrome, Safari */
@-webkit-keyframes skeleton-loading {
  0% {
    background-color: #a3b8c2; }
  100% {
    background-color: #f0f3f5; } }
@-o-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0; }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0; } }
@-moz-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0; }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0; } }
@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0; }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0; } }
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0; }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0; } }
@-o-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0; }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0; } }
@-moz-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0; }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0; } }
@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0; }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0; } }
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0; }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0; } }
.underline {
  text-decoration: underline; }

.c-tooltip {
  position: relative; }
  .c-tooltip::before, .c-tooltip::after {
    position: absolute;
    top: -.25rem;
    left: 50%;
    transform: translateX(-50%) translateY(-100%) scale(0);
    transition: 50ms transform;
    transform-origin: bottom center; }
  .c-tooltip:before {
    content: attr(data-tooltip);
    padding: .5rem;
    width: max-content;
    border-radius: .3rem;
    text-align: center;
    background-color: #000;
    color: #fff; }
  .c-tooltip:hover {
    cursor: pointer; }
  .c-tooltip:hover::before, .c-tooltip:hover::after {
    transform: translateX(-50%) translateY(-100%) scale(1); }

.skeleton {
  width: 100%;
  aspect-ratio: 1/1;
  animation: skeleton-loading 1s linear infinite alternate; }

@keyframes scroll {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-100px * 7)); } }
.slider {
  padding: 10px 0;
  border-radius: calc(20px - 10px);
  background-color: #F9EBC8;
  height: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%; }
  .slider::before, .slider::after {
    background: linear-gradient(to right, #f9ebc8 0%, rgba(249, 235, 200, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 50px;
    z-index: 2; }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg); }
  .slider::before {
    left: 0;
    top: 0; }
  .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(100px * 11); }
  .slider .slide {
    width: 100px; }

.button-container {
  position: relative;
  width: 100px;
  height: 50px;
  overflow: hidden;
  border: 1px solid #F9EBC8;
  transition: 0.5s;
  border-radius: 20px; }
  .button-container button {
    width: 101%;
    height: 100%;
    background: #F9EBC8;
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    -webkit-mask-size: 2300% 100%;
    mask-size: 2300% 100%;
    border: none;
    color: #212529;
    cursor: pointer;
    -o-animation: ani2 0.7s steps(22) forwards;
    -moz-animation: ani2 0.7s steps(22) forwards;
    -webkit-animation: ani2 0.7s steps(22) forwards;
    animation: ani2 0.7s steps(22) forwards; }
    .button-container button:hover {
      -o-animation: ani 0.7s steps(22) forwards;
      -moz-animation: ani 0.7s steps(22) forwards;
      -webkit-animation: ani 0.7s steps(22) forwards;
      animation: ani 0.7s steps(22) forwards; }

.mas {
  position: absolute;
  color: #212529;
  text-align: center;
  width: 101%;
  position: absolute;
  margin-top: 13px;
  overflow: hidden; }

.align-middle {
  display: flex;
  align-items: center;
  justify-content: center; }

.no-margin {
  margin: 0 !important; }

* {
  box-sizing: border-box; }

body {
  margin: 0; }

main {
  background: #FEFBE7;
  text-align: center; }

a,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

section {
  padding: 25px 0; }

.header {
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Glory", sans-serif; }

.content {
  line-height: 16px;
  font-size: 12px;
  font-family: "Glory", sans-serif; }

.learn-more {
  color: #126E82;
  text-decoration: underline; }

.learn-more:hover,
.learn-more:active {
  color: #132C33; }

.card {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #F9EBC8;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 16px;
  height: 550px; }
  .card .show {
    height: 210px;
    z-index: 1;
    overflow: hidden; }
  .card img {
    width: 100%;
    height: auto;
    border-radius: 0; }
  .card .info {
    padding: 10px; }
    .card .info .text-end {
      position: absolute;
      bottom: 10px;
      right: 10px; }

input, textarea {
  border-radius: 20px !important;
  background-color: #DAE5D0 !important;
  padding: 12px 16px !important; }

.btn {
  line-height: 16px;
  font-size: 11px;
  font-weight: 500;
  font-family: "Glory", sans-serif;
  background-color: #DAE5D0;
  padding: 15px 25px !important; }

img {
  width: 100%;
  height: auto;
  border-radius: 20px; }

header {
  background-color: #DAE5D0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header #toggle-modes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75px;
    height: 35px;
    padding: 0 10px;
    border-radius: 30px;
    background-color: #FAFAFA;
    position: relative; }
    header #toggle-modes i.bi-brightness-high-fill {
      color: #51C4D3;
      font-size: 15px; }
    header #toggle-modes i.bi-moon-fill {
      color: #F9EBC8;
      font-size: 15px;
      -o-transform: rotate(-100deg);
      -moz-transform: rotate(-100deg);
      -webkit-transform: rotate(-100deg);
      transform: rotate(-100deg); }
    header #toggle-modes #toggle-ball {
      background-color: #212529;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      position: absolute;
      -o-animation: no-animation 1s forwards;
      -moz-animation: no-animation 1s forwards;
      -webkit-animation: no-animation 1s forwards;
      animation: no-animation 1s forwards;
      left: 10px; }
  header i {
    font-size: 30px; }
  header #x-menu {
    display: none; }
  header #menu-links {
    display: none;
    text-transform: uppercase; }
    header #menu-links a {
      margin-right: 5px; }
    header #menu-links a:last-child {
      margin-right: 0; }
    header #menu-links a.active::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: #212529; }
    header #menu-links a::after {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background-color: #212529;
      -o-transition: width .3s;
      -moz-transition: width .3s;
      -webkit-transition: width .3s;
      transition: width .3s; }
    header #menu-links a:hover::after {
      width: 100%; }

#off-canvas {
  line-height: 16px;
  font-size: 12px;
  font-family: "Glory", sans-serif;
  text-transform: uppercase;
  text-align: center;
  background-color: #DAE5D0;
  width: 100%;
  height: 100%;
  position: fixed;
  padding-top: 25px;
  opacity: 0;
  display: none;
  animation: menubar .6s forwards;
  animation-play-state: paused; }
  #off-canvas div {
    margin-bottom: 25px; }

footer {
  background-color: #DAE5D0;
  line-height: 16px;
  font-size: 12px;
  font-family: "Glory", sans-serif;
  padding: 25px 0;
  text-align: center; }
  footer #socials {
    display: flex;
    justify-content: center; }
    footer #socials .copy:hover {
      cursor: pointer; }
    footer #socials div {
      margin-right: 10px; }
    footer #socials div:last-child {
      margin-right: 0; }
    footer #socials i {
      font-size: 20px; }
  footer .content {
    text-transform: uppercase;
    margin-bottom: 125px; }
    footer .content .header {
      font-size: 1.2em !important;
      font-weight: 500; }
  footer div {
    margin-bottom: 25px; }
  footer div:last-child {
    margin-bottom: 0; }

#hero {
  line-height: 28px;
  font-size: 22px;
  font-family: "Glory", sans-serif; }
  #hero p {
    margin-top: 16px; }
  #hero .title {
    line-height: 44px;
    font-size: 36px;
    font-family: "Glory", sans-serif;
    text-transform: uppercase; }

#skills {
  color: #212529; }

#hire .button-container {
  margin: auto; }

#book .title {
  text-decoration: underline;
  margin-top: 10px; }

#about img {
  width: 250px;
  border-radius: 50%;
  margin-bottom: 16px; }

#projects {
  padding-bottom: calc(25px - 16px); }
  #projects .card {
    height: 650px !important;
    margin-bottom: 16px; }
    #projects .card .stack-header {
      font-weight: 700;
      margin: 16px 0 6px 0; }
    #projects .card .stack {
      background-color: #132C33;
      border-radius: 20px;
      height: 5px; }

#blogs {
  padding-bottom: calc(25px 0 - 16px); }
  #blogs .card {
    margin-bottom: 16px; }

#certificates-page {
  padding-bottom: calc(25px - 16px); }
  #certificates-page .validate {
    margin-bottom: 16px;
    position: relative; }
    #certificates-page .validate .validation-wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0; }
      #certificates-page .validate .validation-wrapper:hover {
        opacity: 1;
        cursor: pointer; }
      #certificates-page .validate .validation-wrapper .btn {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%); }
        #certificates-page .validate .validation-wrapper .btn:hover {
          background-color: #DAE5D0; }
    #certificates-page .validate img {
      transition: .5s ease;
      backface-visibility: hidden; }
      #certificates-page .validate img:hover {
        opacity: .3; }

@media only screen and (min-width: 600x) {
  .btn {
    line-height: 16px;
    font-size: 12px;
    font-family: "Glory", sans-serif; } }
@media only screen and (min-width: 992px) {
  .card {
    margin: 0; }

  .btn {
    line-height: 20px;
    font-size: 14px;
    font-family: "Glory", sans-serif; } }
@media only screen and (min-width: 992px) {
  header #hamburger-menu {
    display: none; }
  header #menu-links {
    display: flex; } }
@media only screen and (min-width: 600px) {
  .header {
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Glory", sans-serif; }

  .content {
    line-height: 20px;
    font-size: 14px;
    font-family: "Glory", sans-serif; } }
@media only screen and (min-width: 992px) {
  .header {
    line-height: 28px;
    font-size: 22px;
    font-family: "Glory", sans-serif; }

  .content {
    line-height: 24px;
    font-size: 16px;
    font-family: "Glory", sans-serif; } }
@media only screen and (max-width: 767px) {
  .certificate {
    margin-bottom: 16px; } }
@media only screen and (min-width: 600px) {
  #hero {
    line-height: 28px;
    font-size: 22px;
    font-family: "Glory", sans-serif; }
    #hero p {
      margin-top: 16px; }
    #hero .title {
      line-height: 52px;
      font-size: 45px;
      font-family: "Glory", sans-serif;
      text-transform: uppercase; } }
@media only screen and (min-width: 992px) {
  #hero {
    line-height: 44px;
    font-size: 36px;
    font-family: "Glory", sans-serif; }
    #hero p {
      margin-top: 16px; }
    #hero .title {
      line-height: 64px;
      font-size: 57px;
      font-family: "Glory", sans-serif;
      text-transform: uppercase; } }

/*# sourceMappingURL=styles.css.map */
