@import "styles/design_systems";
@import "styles/utils";
@import "styles/layout";
@import "styles/media_queries";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}