body {
  color: var(--text-dark-color);
}

#hero {
  @include title-large;

  p {
    margin-top: 16px;
  }

  .title {
    @include display-small;
    text-transform: uppercase;
  }
}

#skills {
  color: var(--text-dark-color);
}

#hire {
  .button-container {
    margin: auto;
  }
}

#book {
  .title {
    text-decoration: underline;
    margin-top: 10px;
  }
}